USE [master]
GO
/****** Object:  Database [RestaurantDB]    Script Date: 12/6/2026 17:21:04 PM ******/
CREATE DATABASE [RestaurantDB] ON  PRIMARY 
( NAME = N'RestaurantDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\RestaurantDB.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RestaurantDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\RestaurantDB_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bans]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bans](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[TenBan] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Bans] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDons](
	[MaHD] [nvarchar](450) NOT NULL,
	[MaMon] [nvarchar](450) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [real] NOT NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhaps]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhaps](
	[MaPN] [nvarchar](450) NOT NULL,
	[MaNL] [nvarchar](450) NOT NULL,
	[SoLuong] [real] NOT NULL,
	[DonGia] [real] NOT NULL,
	[ThanhTien] [real] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[MaHD] [nvarchar](450) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TongTien] [real] NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[KhachHangSoDienThoai] [nvarchar](450) NOT NULL,
	[MaBan] [int] NULL,
	[ThuNganMaNV] [nvarchar](450) NOT NULL,
	[KhuyenMaiMaKM] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_HoaDons] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[SoDienThoai] [nvarchar](450) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMais]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMais](
	[MaKM] [nvarchar](450) NOT NULL,
	[PhanTramGiam] [real] NOT NULL,
	[HanSuDung] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_KhuyenMais] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAns]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAns](
	[MaMon] [nvarchar](450) NOT NULL,
	[TenMon] [nvarchar](max) NOT NULL,
	[GiaTien] [real] NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_MonAns] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieus]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieus](
	[MaNL] [nvarchar](450) NOT NULL,
	[TenNL] [nvarchar](max) NOT NULL,
	[SoLuongTon] [real] NOT NULL,
	[DonViTinh] [nvarchar](max) NOT NULL,
	[DonGia] [real] NOT NULL,
	[GiaTriTon] [real] NOT NULL,
 CONSTRAINT [PK_NguyenLieus] PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[MaNV] [nvarchar](450) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[Discriminator] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhaps]    Script Date: 12/6/2026 17:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhaps](
	[MaPN] [nvarchar](450) NOT NULL,
	[NgayNhap] [datetime2](7) NOT NULL,
	[TongTien] [real] NOT NULL,
	[NguoiNhap] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[NhaCungCap] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietHoaDons_MaMon]    Script Date: 12/6/2026 17:21:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDons_MaMon] ON [dbo].[ChiTietHoaDons]
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietPhieuNhaps_MaNL]    Script Date: 12/6/2026 17:21:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietPhieuNhaps_MaNL] ON [dbo].[ChiTietPhieuNhaps]
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDons_KhachHangSoDienThoai]    Script Date: 12/6/2026 17:21:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_KhachHangSoDienThoai] ON [dbo].[HoaDons]
(
	[KhachHangSoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDons_KhuyenMaiMaKM]    Script Date: 12/6/2026 17:21:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_KhuyenMaiMaKM] ON [dbo].[HoaDons]
(
	[KhuyenMaiMaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDons_MaBan]    Script Date: 12/6/2026 17:21:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_MaBan] ON [dbo].[HoaDons]
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDons_ThuNganMaNV]    Script Date: 12/6/2026 17:21:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_ThuNganMaNV] ON [dbo].[HoaDons]
(
	[ThuNganMaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bans] ADD  DEFAULT (N'') FOR [TenBan]
GO
ALTER TABLE [dbo].[NguyenLieus] ADD  DEFAULT (CONVERT([real],(0),0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[NguyenLieus] ADD  DEFAULT (CONVERT([real],(0),0)) FOR [GiaTriTon]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_HoaDons_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDons] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_HoaDons_MaHD]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_MonAns_MaMon] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonAns] ([MaMon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_MonAns_MaMon]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhaps_NguyenLieus_MaNL] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieus] ([MaNL])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_ChiTietPhieuNhaps_NguyenLieus_MaNL]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_MaPN] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhaps] ([MaPN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_MaPN]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_Bans_MaBan] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Bans] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_Bans_MaBan]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_KhachHangs_KhachHangSoDienThoai] FOREIGN KEY([KhachHangSoDienThoai])
REFERENCES [dbo].[KhachHangs] ([SoDienThoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_KhachHangs_KhachHangSoDienThoai]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_KhuyenMais_KhuyenMaiMaKM] FOREIGN KEY([KhuyenMaiMaKM])
REFERENCES [dbo].[KhuyenMais] ([MaKM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_KhuyenMais_KhuyenMaiMaKM]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_NhanViens_ThuNganMaNV] FOREIGN KEY([ThuNganMaNV])
REFERENCES [dbo].[NhanViens] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_NhanViens_ThuNganMaNV]
GO
USE [master]
GO
